body {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400px;
  background-color: #FFF5F0
}

header {
  background-color: #d0dfe1ff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 92%;
  margin: 0 auto;
}

.logo {
  float: left;
  padding-left: 2px 0;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 23px;
  padding-bottom: 20px;

  position: sticky;
}

nav a {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px
}

nav a:hover {

}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  color:#ffd1dc;
}

.commentBox {
  padding:1%;
  width: 96%;
  border: 1px solid #000
}

.leftPanelImg {
  width:10%;
  float:left;
}

.leftPanelImg img{
  border-radius: 100%;
}

.rightPanel {
  width:85%;
  float:left;
  margin-left:1%
}

.clear {
  clear:both;
}
